
<section class="login pt-28">
       

    <div class=" bg-white  border  w-1/6 p-6 m-auto  ">
        <form action="/register" method="post">
           <% if(messages.error){ %>
              <spam class="texter font-bold text-lg mb-4"><%=messages.error%></spam>
              <%}%>
            <div class="mb-2">
                <label for="username"> 
                    <h2 class="mb-1 font-bold">Name</h2>
                </label>
                    <input value="<%=messages.name%>"  class="border border-gray-300 p-2  mb-1 font-bold w-full name" type="text" placeholder="Name" id="username" name="name">
            </div>
            <div class="mt-2">
                <label for="usermail">
                    <h2 class="mb-1 font-bold">Email</h2>
                </label>
                <input type="email" value="<%=messages.email%>" id="usermail" class=" border border-gray-300 p-2 w-full mb-1 font-bold" placeholder="Email" name="email">
            </div>
            <div class="mt-2">
                <label for="userpassword">
                    <h2 class="mb-1 font-bold">Password</h2>
                </label>
                <input type="password" id="userpassword" class="  border border-gray-300 p-2  w-full mb-1 font-bold" placeholder="****************" name="password">
            </div>

            <div class=" items-center w-full  mt-6 mb-2 ">
                    <!-- <button type="submit" class="btn-primary px-6 py-2 ml-4 rounded-full text-white font-bold">Register</button> -->
                <button  class="btn-primary px-6 py-2 ml-4 rounded-full text-white font-bold" 
                  >
                    Register
                </button>
                
                 <!-- <spam class="text-xs text-red font-bold ml-4 amount ">Already have account?</spam> -->
                 <a href="/login" class="text-xs text-red font-bold ml-4 amount">Already have account</a>
            </div>
        </form>
    </div>
    

</section>