
<section class="mt-4 empty-cart py-16">
   
     <div class="container mx-auto order text-center w-1/2">
        <div class="flex items-center  border-b border-gray-300 pb-4 ">
            <img src="/Img/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Order Summary </h1>
        </div>

   
            <div class="flex items-center  pizza-list justify-between">
                
                <div class="flex items-center mt-4" >
                    <img src="/Img/pizza.png" alt="" class="w-24">
                    <div class="ml-4">
                        <h1 class="font-bold">Marina</h1>
                        <span class="font-bold pl-4">MEDIUM</span>
                    </div>
                </div>
                <span class="font-bold">1Pcs</span>
                <span class="font-bold text-lg">₹300</span>
            </div>

            <div class="flex items-center  pizza-list justify-between">
                
                <div class="flex items-center mt-4" >
                    <img src="/Img/pizza.png" alt="" class="w-24">
                    <div class="ml-4">
                        <h1 class="font-bold">Marina</h1>
                        <span class="font-bold pl-4">MEDIUM</span>
                    </div>
                </div>
                <span class="font-bold">1Pcs</span>
                <span class="font-bold text-lg">₹300</span>
            </div>

            <div class="flex items-center  pizza-list justify-between mb-6">
                
                <div class="flex items-center mt-4" >
                    <img src="/Img/pizza.png" alt="" class="w-24">
                    <div class="ml-4">
                        <h1 class="font-bold">Marina</h1>
                        <span class="font-bold pl-4">MEDIUM</span>
                    </div>
                </div>
                <span class="font-bold">1Pcs</span>
                <span class="font-bold text-lg">₹300</span>
            </div>
            <hr>

            <div class="boxing py-4 ">
                
                    <div class="flex flex-row-reverse items-center">

                        <!-- <span class="font-bold text-lg ">Total Amount</span>
                        <span class="font-bold text-2xl amount ml-4">₹300</span> -->
                        <div class="font-bold text-2xl ml-4 amount">₹300</div>
                        <div class="font-bold text-lg"> Total amount</div>
                    </div>


                    <div>
                        <form action="" class="mt-2">
                            <input type="text" placeholder="Address" class="border border-gray-300 p-2 w-1/2 mb-1 font-bold">
                            <input type="number" class="border border-gray-300 p-2 mb-4 mt-2 w-1/2 font-bold" placeholder="Phone Number">
                        </form>

                    </div>
                    <div>

                        <button class="btn-primary px-6 py-2 ml-4 mb-4 rounded-full text-white font-bold ">Order Now</button>
                    </div>


                    <button class="btn-primary px-6 py-2 ml-4 rounded-full text-white font-bold ">Login to Continue</button>
                    
              
            </div>
        
     </div>
      
    <!-- <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold mb-2">Cart Empty</h1>
        <p class="text-gray-500 text-lg  mb-12">You probably haven't ordered a pizza yet  <br>To order a pizza, go to the main page</p> 
        
        <img class="w-2/5 mx-auto" src="/Img/empty-cart.png" alt="empty-cart">
        <button class="px-6 py-2  mt-12 rounded-full text-white font-bold btn-primary">Go back</button>

    </div> -->
</section>


